<!-- <header-component></header-component> -->
<header class="bg-dark">
    <a class="text-light text-uppercase font-weight-bold" href="">Simplified</a>
    <div class="nav-items">
        <input type="text" class="p-2" placeholder="Search...">
        <button class="btn btn-success ml-2 p-2" >Search</button>
    </div>
    <button class="btn btn-success p-2" (click)="onClickShowModal()">New Contact</button>
</header>
<!-- testing this out!!!! -->
<modal-component [modal]="modal"></modal-component>

<app-contact-list></app-contact-list>
<footer class="bg-dark">
    <span class="text-light text-uppercase text-center"><p>© {{ date | date : 'yyyy'}} Simplified rights reserved.</p></span>
</footer>
<!-- <footer-component></footer-component> -->